html {
  height: 100vh;
  background-color: #eeddc5;
  background-image: url("bk_castle.svg");
  background-size: 100vw;
  background-position: center bottom -3px;
  background-repeat: no-repeat;
  color: #343a39;
}

a,
a:visited {
  color: #343a39 !important;
}

#nav {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

#nav>button,
.haski-form>.haski-button {
  margin-left: 1rem;
  border-radius: 1rem !important;
  border: 3px solid #69653b !important;
  cursor: pointer;
  font-size: 2.5rem;
  background: none;
  border: none;
  padding: 5px 10px;
  color: #343a39 !important;
  background: #eeddc5;
}

.headline {
  font-size: 7rem;
  margin: 15% auto;
  width: fit-content;
  transition: margin 2s ease;
}

.headline.animate {
  margin: 5% auto;
  white-space: nowrap;
  letter-spacing: 0.5px;
}

.line1,
.line2 {
  display: block;
}

.line2 {
  margin-left: 4rem;
}

.headline.animate .line1,
.headline.animate .line2 {
  display: inline;
  margin: 0;
}

.login-container {
  position: absolute;
  background: #eeddc5;
  left: 50%;
  transform: translate(-50%, 26vh);
  display: flex;
  flex-direction: row;
  padding: 1.5rem 2rem;
  border: 3px solid #69653b;
  border-radius: 1rem;
}

.login-container>form:first-child {
  margin-right: 5rem;
}

.login-container .input-group {
  margin-bottom: 10px;
}

.login-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.login-container input {
  width: 90%;
  padding: 8px;
  margin-top: 5px;
  font-size: 14px;
}

.login-container button {
  padding: 10px;
  width: 100%;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.login-container button:hover {
  background-color: #45a049;
}

.login-container .error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.story-editor {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.haski-form {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 1rem;
}

.haski-form textarea {
  width: 33vw;
  background: none;
  resize: none;
  border: 3px solid #69653b;
  background: #eeddc5;
  border-radius: 1rem;
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: 600;
}

#ki-content {
  background: #eeddc5;
  width: 80vw;
  max-width: 1200px;
  max-height: 30vh;
  overflow: scroll;
  margin: 0 auto;
  padding: 2rem;
  border: 3px solid #69653b;
  border-radius: 1rem;
  font-size: 1.1rem;
  line-height: 1.8rem;
  font-weight: 600;
}

.answers {
  width: 100%;
}

.answers>div.user {
  display: flex;
  justify-content: end;
  text-align: end;
}

.answers p {
  padding: 1rem;
}

.answers p.user {
  border: 3px solid #69653b;
  border-radius: 1rem
}

#stories {
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
  margin: 0 auto;
  max-height: 33vh;
  overflow: scroll;
}

#stories>div {
  width: 100%;
  cursor: pointer;
  background: #eeddc5;
  border: 3px solid #69653b;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}